PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
# FIREBASE_SERVICE_ACCOUNT is a JSON string of your service account file
FIREBASE_SERVICE_ACCOUNT='{"type": "service_account", ...}'
GOOGLE_APPLICATION_CREDENTIALS=path/to/service-account.json
